@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
}

.sidebarlink {
    background-color: white;
    color: black;
}

.leaveformLabel {
    font-size: 9px;
}

.text-bold {
    font-size: 9px;
    font-weight: bold;
}
.text-italic {
    font-size: 9px;
    font-style: italic;
}
.leaveformSec {
    font-size: 7px;
}

.leaveformlabelItalic {
    font-size: 9px;
    font-style: italic;
}

input.error {
    border-color: red;
}
